body {
  background-color: #fff;
}

h1 {
  font-size: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 10px;
  color:rgb(101, 51, 203);
}

h3 {
  font-size: 14px;
  margin-top: 5px;
  width: max-content;
  max-width: 100%;
  min-width: min-content;
  padding: 4px 8px;
  background-color: #efefef;
  margin: 0 auto;
  border-radius: 25px;
}

p {
  font-size: 16px;
  color:rgb(47, 34, 86);
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: balance;
}

a {
  text-decoration: none;
  color: rgb(101, 51, 203);
  font-size: 15px;
}

.App-wrapper {
  text-align: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: rgb(47, 34, 86);
  margin-bottom: 100px;
}

nav {
  background-color: #fff;
  padding: 25px;  
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 999;
  box-sizing: border-box;
}

.logo {
  height: 30px;
  color: rgb(101, 51, 203);
  position: absolute;
  left: 30px;
}

nav h1 {
  font-weight: bold;
  margin: 0;
  font-size: 30px;
}

@media screen and (max-width: 628px) {
  nav h1 {
    text-align: right;
    font-size: 22px;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    height: 20px;
  }
}

.input-wrapper {
  position: fixed;
  top: 84px;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 25px;
  box-sizing: border-box;
}

@media screen and (max-width: 500px) {
  .input-wrapper {
padding: 25px 0px;
  }
}

.input-wrapper input {
  border: none;
  border-radius: 30px;
  color: rgb(101, 51, 203);
  width: 350px;
  height: 50px;
  padding: 0 25px;
  font-size: 16px;
  margin-right: 10px;
  transition: width 0.4s ease-in-out;
  border: 1px solid rgb(101, 51, 203);
}

@media screen and (max-width: 500px) {
  .input-wrapper input {
    width: 75%;
  }
}

.input-wrapper input:focus {
  width: 360px;
  outline: none !important;
  border: 2px solid rgb(101, 51, 203);
}

@media screen and (max-width: 500px) {
  .input-wrapper input:focus {
    width: 80%;
  }
  
}
.card-link-wrapper {
  justify-content: center;
  flex-wrap: wrap;
  width: 20%;
}

@media (max-width: 1000px) {
  .card-link-wrapper {
    width: 25%;
  }
}


@media (max-width: 780px) {
  .card-link-wrapper {
    width: 33%;
  }
}

@media (max-width: 500px) {
  .card-link-wrapper {
    width: 50%;
  }
}

.package-list-wrapper {
  margin-top: 200px;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 25px;

}

.package-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.package-list .package-card {
  list-style: none;
  margin: 10px;
  padding: 10px;
  background-color: #FFF;
  border-radius: 10px;
  color: #000;
  width: auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1); 
  min-height: 200px;
}

.package-list .package-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.error {
  color: red;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input-wrapper .button {
  background-color: #fff;
  border: 1px solid rgb(101, 51, 203);
  color: rgb(101, 51, 203);
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 25px;
  font-size: 20px;
  height: 50px;
}

.input-wrapper .button:hover {
  color: #fff;
  background-color: rgb(101, 51, 203);
  transition: background-color 0.2s ease-in-out;
}

.spinner {
	display: block;
	width: 34px;
	height: 34px;
  padding: 0 10px;
	position: absolute;
	top: 30%;
	left: calc(50% - 17px);
	background: transparent;
	box-sizing: border-box;
	border-top: 4px solid rgb(101, 51, 203);
	border-left: 4px solid rgb(101, 51, 203);
	border-right: 4px solid rgb(101, 51, 203);
	border-bottom: 4px solid transparent;
	border-radius: 100%;
	animation: spin 0.6s ease-out infinite;
  z-index: 999;
}
@keyframes spin {
	100% {transform: rotate(360deg)}
}

.errTestBtn {
  position: fixed;
  bottom: 10px;
  right: 10px;
}